
<div class="color-picker" [ngClass]="{'color-inline': inline, 'color-stretch': !inline}" #colorInput (click)="toggle()" [style.background-color]="value.toHex()">
    
</div>

<div class="color-palette-background" *ngIf="showPopup" (click)="showPopup = false"></div>

<div class="color-palette" *ngIf="showPopup">
    <mat-form-field style="width: 100%; background-color: black;">
        <mat-label></mat-label>
        <mat-select [(ngModel)]="paletteName" name="colorType" (ngModelChange)="updateColorPalette()">
            <mat-option value="nag">Nag</mat-option>
            <mat-option value="gina">Gina</mat-option>
        </mat-select>
        <mat-hint>Choose a palette</mat-hint>
    </mat-form-field>
    <div class="palette-row" *ngFor="let row of colorPalette"><span class="palette-tile" [ngClass]="{selected: color.equals(value)}" *ngFor="let color of row" attr.aria-label="{{color.toHex()}}" aria-selected="false" [style.background-color]="color.toRgb()" (click)="selectColor(color)"></span></div>
</div>
