mat-form-field {
    width: 100%;
    button[matsuffix]{
        width: 26px;
        height: 26px;
        margin-right: 6px;
        mat-icon {
            width: 26px;
            height: 26px;
            font-size: 26px;
        }
    }
}

:host ::ng-deep {
    mat-button-toggle-group {
        height: 32px;

        > mat-button-toggle {
            height: 32px;

            > button {
                height: 32px;

                > .mat-button-toggle-label-content {
                    line-height: 25px;
                }
            }
        }
    }
}
