
mat-form-field {
    font-size: 12px;
}

div.loading-gina {
    display: flex;
    flex-direction: column;
    padding: 10px 20%;
    align-items: center;
}

:host ::ng-deep mat-tab-group {
    height: 100%;

    .mat-tab-body-wrapper {
        height: 100%;
    }
}

div.multiple-preview-list {
    padding-top: 15px;
    font-family: verdana;
    font-size: 10px;
    > div {
        >span:first-of-type{
            opacity: 0.6;
        }
    }
}

div.tab-content {
    overflow-y: scroll;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 77px;
    top: 64px;
    padding: 15px 10px 15px 10px !important;

    > fieldset:not(:first-child) {
        margin-top: 50px;
    }
}

.import-actions {
    .spacer {
        display: flex;
        flex: 1 0 auto;
    }
    button {
        mat-icon {
            margin-top: -4px;
        }
    }
    display:flex;
    flex-direction: row;
    padding:15px;

    position: fixed;
    bottom: 4px;
    right: 0;
    z-index: 2;
    left: 32%;
}
::ng-deep .toolbar-top {
    position: absolute !important;
    left: 0 !important;
}