<h2 mat-dialog-title>{{(data.title == null ? 'Notification' : data.title)}}</h2>

<mat-dialog-content>

    <div style="display: flex;flex-direction: row;">
        <div style="display: flex;padding: 20px 25px;">
            <mat-icon class="material-icons-outlined color-yellow"    style="font-size: 64px; width: 64px; height: 64px; align-self: center; opacity: 0.85;" *ngIf="data.notificationType == notificationTypes.Warning">warning</mat-icon>
            <mat-icon class="material-icons-outlined color-red-warn " style="font-size: 64px; width: 64px; height: 64px; align-self: center; opacity: 0.80;" *ngIf="data.notificationType == notificationTypes.Error">report</mat-icon>
            <mat-icon class="material-icons-outlined color-blue"      style="font-size: 64px; width: 64px; height: 64px; align-self: center; opacity: 0.85;" *ngIf="data.notificationType == notificationTypes.Information">info</mat-icon>
            <mat-icon class="material-icons-outlined color-white"     style="font-size: 64px; width: 64px; height: 64px; align-self: center; opacity: 0.75;" *ngIf="data.notificationType == notificationTypes.Custom && data.icon != null">{{data.icon}}</mat-icon>
        </div>
        <div style="padding-top: 15px; padding-bottom: 15px; overflow-y: auto; max-height: 245px; display: flex; align-items: center; flex-direction: column;">
            <p style="margin: 0px 0px 8px 0px; align-self: flex-start;" *ngFor="let msg of messages" [innerHtml]="msg | coloredString"></p>
        </div>
    </div>

</mat-dialog-content>

<mat-dialog-actions>
    
    <button mat-button (click)="closeDialog()" class="t-confirm-no">Close</button>
    <ng-template ngFor let-item [ngForOf]="data.customButtons">
        <button *ngIf="!item.matIconButton" (click)="onClickCustomButton(item)" mat-button class="{{item.cssClassString}}"><mat-icon *ngIf="item.showIcon" [ngClass]="{'material-icons-outlined': item.matIconsOutlined}">{{item.matIcon}}</mat-icon> {{item.text}}</button>
        <button *ngIf="item.matIconButton" (click)="onClickCustomButton(item)" mat-icon-button class="{{item.cssClassString}}"><mat-icon [ngClass]="{'material-icons-outlined': item.matIconsOutlined}">{{item.matIcon}}</mat-icon></button>
    </ng-template>
    <span style="flex: 1 1 auto;"></span>
    <mat-checkbox *ngIf="data.modalId && (data.customButtons == null || data.customButtons.length == 0)" [(ngModel)]="ignoreThisModal" name="ignoreThisModal">Ignore this modal</mat-checkbox>

</mat-dialog-actions>
