<div class="modal">
    <header>
        <mat-toolbar class="titlebar" color="default">
            <span>Trigger</span>
            <span class="spacer"></span>
            <button mat-icon-button aria-label="Exit application" (click)="closeModal()">
                <mat-icon>clear</mat-icon>
            </button>
        </mat-toolbar>
    </header>
    <section>
        <form #triggerForm="ngForm">
            <mat-tab-group class="modal-menu" animationDuration="0ms" (selectedIndexChange)="onChangeTabs($event)" [selectedIndex]="0">
                <mat-tab label="Capture">
                    <div class="tab-content">
                        
                        <fieldset class="margin-t-50">
                            <legend><span class="title">General</span>
                                <span style="color: #00000057; padding-left: 25px;" *ngIf="isDev">{{model.triggerId}}</span>
                                <span class="spacer"></span>
                                <mat-checkbox [(ngModel)]="model.predefined" name="cbxPredefined" *ngIf="isDev">Predefined</mat-checkbox>
                                <mat-checkbox [(ngModel)]="model.onlyExecuteInDev" name="cbxOnlyShowInDev" *ngIf="isDev && model.predefined">Only execute in dev</mat-checkbox>
                            </legend>
                            
                            <mat-form-field>
                                <mat-label></mat-label>
                                <input matInput name="txtTriggerName" type="text" [(ngModel)]="model.name" required />
                                <mat-hint>Trigger Name</mat-hint>
                            </mat-form-field>
        
                            <mat-form-field>
                                <mat-label></mat-label>
                                <textarea matInput name="txtComments" [(ngModel)]="model.comments" rows="5"></textarea>
                                <mat-hint>Comments</mat-hint>
                            </mat-form-field>
                        </fieldset>
                        
                        <app-conditions [(conditions)]="model.conditions"></app-conditions>
                        
                        <app-capture-phrases [(capturePhrases)]="model.capturePhrases" [(captureMethod)]="model.captureMethod" [(useCooldown)]="model.useCooldown" [(cooldownDuration)]="model.cooldownDuration"></app-capture-phrases>
    
                        <fieldset *ngIf="model.captureMethod === 'Sequential'">
                            <legend class="full-width"><span class="title">Sequential Rules</span><span class="spacer"></span></legend>
                            
                            <mat-form-field>
                                <mat-label>Restart Behavior</mat-label>
                                <mat-select [(ngModel)]="model.sequentialRestartBehavior" name="ddlSequentialRestartBehavior">
                                    <mat-option value="none">None</mat-option>
                                    <mat-option value="exactFirstMatch">Restart on Phrase #1</mat-option>
                                    <mat-option value="afterFirstMatch">Restart on any Phrase after #1</mat-option>
                                    <!-- <mat-option value="lastMatch">Restart on only the last phrase</mat-option> -->
                                </mat-select>
                                <mat-hint *ngIf="model.sequentialRestartBehavior === 'none'">Always begin a new sequence.</mat-hint>
                                <mat-hint *ngIf="model.sequentialRestartBehavior === 'exactFirstMatch'">Restart the sequence when phrase #1 matches exactly.</mat-hint>
                                <mat-hint *ngIf="model.sequentialRestartBehavior === 'afterFirstMatch'">Restart the sequence when any phrase after the first matches exactly.</mat-hint>
                            </mat-form-field>

                        </fieldset>

                    </div>
                </mat-tab>
                <mat-tab label="Actions">
                    <ng-template matTabContent>
                        <div class="tab-content">

                            <app-trigger-actions [(actions)]="model.actions" [isDev]="isDev" [predefined]="model.predefined" [capturePhrases]="model.capturePhrases"></app-trigger-actions>
                            
                        </div>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Character Classes">
                    <ng-template matTabContent>
                        <div class="tab-content">

                            <app-trigger-classes [(classLevels)]="model.classLevels" style="margin-top: 20px; display: block;"></app-trigger-classes>

                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </form>
    </section>
    <footer>
        <button mat-button [disabled]="triggerForm.invalid" (click)="save()">Save</button>
        <button mat-button color="warn" (click)="closeModal()">Cancel</button>
        <button mat-button color="accent" (click)="copyJson()" *ngIf="isDev">Copy JSON</button>
        <button mat-button color="default" (click)="reimportFromAllakhazam()" *ngIf="showReimportFromAlla">Re-import from {{serviceName}}</button>
    </footer>
</div>
