p.note {
    small {
        font-size: 12px;
    }
    > strong {
        &:first-child {
            margin-top: -2px;
        }
        &:not(:first-child) {
            margin-top: 5px;
        }
        display: block;
    }
    padding: 15px 25px;
    font-size: 11px;
    line-height: 1;
    margin: 5px 25px;
    text-align: justify;
    border-radius: 3px;
}


div.loading {
    display: flex;
    flex-direction: column;
    padding: 10px 20%;
    align-items: center;
}
