<h2 mat-dialog-title>Import Buff Timer ({{serviceName}})</h2>

<mat-dialog-content>
    
    <p *ngIf="data?.trigger?.triggerId != null">WARNING: This may overwright any custom setting you have applied to this trigger.  Are you sure you want to continue?</p>

    <mat-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="stepOneForm.control" label="Scrape">
            <form #stepOneForm="ngForm">
                <p>
                    <mat-form-field style="width: 100%;">
                        <mat-label></mat-label>
                        <input matInput type="text" [(ngModel)]="url" name="txtUrl" required />
                        <mat-hint>{{serviceName}} URL</mat-hint>
                    </mat-form-field>
                </p>
                
                <div>
                    <button mat-button (click)="scrape()">Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="stepTrackTypeForm.control" label="Tracking Type" *ngIf="!lockTrackType">
            <form #stepTrackTypeForm="ngForm">
                
                <mat-radio-group aria-label="Select tracking type" [(ngModel)]="trackType" name="trackType">
                    <mat-radio-button value="mine">I want to track the buffs that I cast.</mat-radio-button>
                    <mat-radio-button value="others">I want to track the buffs that others cast on me.</mat-radio-button>
                </mat-radio-group>

                <p *ngIf="cannotTrack" class="notice border-red">
                    <mat-icon class="material-icons-outlined color-red">info</mat-icon><span>This spell cannot be tracked because there is no "cast on you" phrase to track.</span>
                </p>

                <p *ngIf="trackType === 'others'" class="notice border-orange">
                    <mat-icon class="material-icons-outlined color-orange">info</mat-icon><span>It is impossible to know the beneficial casting focus of other players. Some options are disabled when compared to tracking your own cast spells.</span>
                </p>
                
                <div>
                    <button mat-button matStepperPrevious>Prev</button>
                    <button mat-button matStepperNext [disabled]="stepTrackTypeForm.invalid || cannotTrack">Next</button>
                </div>

            </form>
        </mat-step>
        <mat-step [stepControl]="stepTwoOthersForm.control" label="Tracking" *ngIf="trackType === 'others'">
            <form #stepTwoOthersForm="ngForm">

                <p><mat-slide-toggle [(ngModel)]="alertWhenBuffFades" name="togAlertWhenBuffFades_others">Notify me when the buff fades.</mat-slide-toggle></p>
                <p><mat-slide-toggle [(ngModel)]="alertEndingSoon" name="togAlertEndingSoon_others">Notify me when the buff is ending in </mat-slide-toggle><app-duration [(ngModel)]="endingSoonDuration" name="durEndingSoon_others" [inline]="true" *ngIf="alertEndingSoon" required></app-duration></p>
                <p><mat-slide-toggle [(ngModel)]="hideTimer" name="hideTimer_others">Hide timer until nearing its end.</mat-slide-toggle></p>

                <p class="notice border-red" *ngIf="alertWhenBuffFades && spell?.effectFades == null">
                    <mat-icon class="material-icons-outlined color-red">info</mat-icon><span>This buff <strong>does not have</strong> a log entry for fading.  Combined with not knowing the beneficial buff extension of the caster makes tracking this buff's duration imprecise.</span>
                </p>
                
                <div>
                    <button mat-button matStepperPrevious>Prev</button>
                    <button mat-button matStepperNext [disabled]="stepTwoOthersForm.invalid">Next</button>
                </div>

            </form>
        </mat-step>
        <mat-step [stepControl]="stepTwoForm.control" label="Tracking" *ngIf="trackType === 'mine'">
            <form #stepTwoForm="ngForm">

                <p><mat-slide-toggle [(ngModel)]="useSelfTimer" name="togUseSelfTimer">Track the buff duration with a countdown for <strong>Self</strong>.</mat-slide-toggle></p>
                <p><mat-slide-toggle [(ngModel)]="useTargetTimer" name="togUseTargetTimer" [disabled]="spell?.targetType === 'Self' || spell?.castOnOther == null">Track the buff duration with a countdown for <strong>Other</strong>.</mat-slide-toggle></p>
                <p><mat-slide-toggle [(ngModel)]="alertEndingSoon" name="togAlertEndingSoon">Notify me when the buff is ending in </mat-slide-toggle><app-duration [(ngModel)]="endingSoonDuration" name="durEndingSoon" [inline]="true" *ngIf="alertEndingSoon" required></app-duration></p>
                <p><mat-slide-toggle [(ngModel)]="alertWhenBuffFades" name="togAlertWhenBuffFades">Notify me when the buff fades.</mat-slide-toggle></p>

                <p class="notice border-green" *ngIf="useTargetTimer">
                    <mat-icon class="material-icons-outlined color-green">info</mat-icon><span>The log file does not include targeting information when you cast a buff on another entity (player / pet / npc / etc).  We try to use the casting time (automatically accounting for your beneficial casting speed focus) of the buff to approximate your target, however there is still room for error if another player casts the same spell on a different target at the same second as you have.</span>
                </p>
                <p class="notice border-green" *ngIf="alertWhenBuffFades && spell?.effectFades == null">
                    <mat-icon class="material-icons-outlined color-green">info</mat-icon><span>Some buffs do not have a log entry when the effect fades, namely buffs with charges.  This only applies to buffs cast on <strong>self</strong>, because there is still a log entry when your effect fades on other.</span>
                </p>
                
                <div>
                    <button mat-button matStepperPrevious>Prev</button>
                    <button mat-button matStepperNext [disabled]="(!useSelfTimer && !useTargetTimer && !alertWhenBuffFades && !alertWhenBuffOverwritten) || stepTwoForm.invalid">Next</button>
                </div>

            </form>
        </mat-step>
        <mat-step [stepControl]="stepThreeForm.control" label="Timer Settings">
            <form #stepThreeForm="ngForm">

                <p>
                    <mat-form-field style="width: 100%;">
                        <mat-label></mat-label>
                        <mat-select [(ngModel)]="timerOverlayId" name="ddlTimerOverlay" required>
                            <mat-option *ngFor="let option of timerOverlays" [value]="option.overlayId">{{option.name}}</mat-option>
                        </mat-select>
                        <mat-hint>Timer Overlay Window</mat-hint>
                    </mat-form-field>
                </p>

                <p><mat-checkbox [(ngModel)]="showTimerWhenEndingSoon" name="showTimerWhenEndingSoon" *ngIf="trackType === 'mine' && (!useSelfTimer || (spell?.targetType !== 'Self' && !useTargetTimer)) && alertEndingSoon">Show a timer when ending soon.</mat-checkbox></p>

                <p><mat-checkbox [(ngModel)]="cancelTimerIfTargetDies" name="cancelTimerIfTargetDies">End timer early if your target dies.</mat-checkbox></p>
                
                <div>
                    <button mat-button matStepperPrevious>Prev</button>
                    <button mat-button matStepperNext [disabled]="stepThreeForm.invalid">Next</button>
                </div>

            </form>
        </mat-step>
        <mat-step label="Items with this Effect" *ngIf="spell?.itemsWithEffect?.length > 0 && trackType === 'mine'">
            <div *ngIf="loadingItemDetails" class="loading">
                <p>Loading ...</p>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <form #optionalAForm="ngForm" *ngIf="!loadingItemDetails">

                <p>There are item(s) with this effect.  Would you like to include any of these?</p>

                <p *ngFor="let item of spell.itemsWithEffect;let i = index">
                    <mat-checkbox [(ngModel)]="item.selected" name="includeItem_{{i}}">{{item.name}}</mat-checkbox>
                </p>
                
                <div>
                    <button mat-button matStepperPrevious>Prev</button>
                    <button mat-button (click)="processSelectedItemClickies()" [disabled]="optionalAForm.invalid">Next</button>
                </div>

            </form>
        </mat-step>
        <!-- <mat-step label="Pet">
            <form>

            </form>
        </mat-step> -->
        <mat-step label="Import" *ngIf="trackType === 'mine'">
            <form>
                <p>Ready for import!</p>
                <div>
                    <button mat-button (click)="import()" class="t-confirm-yes" color="accent">Import</button>
                </div>
            </form>
        </mat-step>
        <mat-step label="Import" *ngIf="trackType === 'others'">
            <form>
                <p>Ready for import!</p>
                <div>
                    <button mat-button (click)="importOthers()" class="t-confirm-yes" color="accent">Import</button>
                </div>
            </form>
        </mat-step>

        <!-- If this is a group buff, track everyone or just your target? -->
        <!-- If this is a self only buff, do we need more options? -->
        <!-- If this is a single target buff, do we need more options? -->

        <!-- <mat-step [stepControl]="stepFourForm.control" label="Notification Settings" *ngIf="alertWhenBuffFades || alertWhenBuffOverwritten">
            <form #stepFourForm="ngForm">
            </form>
        </mat-step> -->
    </mat-stepper>

</mat-dialog-content>

<mat-dialog-actions>

  <button mat-button mat-dialog-close class="t-confirm-no" color="warn">Cancel</button>

</mat-dialog-actions>
