<h2 mat-dialog-title>Missing an Overlay</h2>

<mat-dialog-content>

    <p>The package that you're installing is using an overlay that you don't have, <span class="color-orange">{{missingOverlay?.name}}</span>
        <sup class="help-sup" *ngIf="missingOverlay?.description?.length > 0"
            [matTooltip]="overlayDescriptionShort"
            matTooltipPosition="above"
            matTooltipClass="tooltip-large"
            (click)="displayOverlayDescription()">&nbsp;&nbsp;?</sup>.</p>

    <ng-template [ngIf]="!useExisting && !copyOverlay">
        <p>Would you like to <span class="color-blue">copy</span> the overlay or use an <span class="color-green">existing overlay</span>?</p>
    
        <p class="notice border-blue">
            <mat-icon class="material-icons-outlined color-blue">info</mat-icon><span>If you choose to copy the package overlay, You will be able to resize/move the overlay after it has been copied.</span>
        </p>
        
        <p class="notice border-orange">
            <mat-icon class="material-icons-outlined color-orange">warning</mat-icon><span>Cancelling will also cancel installing the trigger package!</span>
        </p>

    </ng-template>

    <ng-template [ngIf]="useExisting">
        <p>To use an existing overlay, select the overlay you would like to use instead.</p>
        <mat-form-field>
            <mat-label></mat-label>
            <mat-select [(ngModel)]="mappedOverlay" name="mappedOverlay">
                <mat-option *ngFor="let overlay of matchingOverlays" [value]="overlay">{{overlay.name}}</mat-option>
            </mat-select>
            <mat-hint>Existing Overlay</mat-hint>
        </mat-form-field>
    </ng-template>

    <ng-template [ngIf]="copyOverlay">
        <p>Move/resize the overlay to your liking, and click "Done" when you're happy with the result.</p>
    </ng-template>

</mat-dialog-content>

<mat-dialog-actions>
    
    <button mat-button (click)="cancel()" class="t-confirm-no" color="warn">Cancel</button>

    <ng-template [ngIf]="useExisting">
        <button type="button" mat-button class="color-green" [disabled]="mappedOverlay == null" (click)="accept(mappedOverlay)">Use this overlay</button>
    </ng-template>

    <ng-template [ngIf]="copyOverlay">
        <button type="button" mat-button class="color-green" [disabled]="mappedOverlay == null" (click)="updateAndAccept(mappedOverlay)">Done</button>
    </ng-template>
    
    <ng-template [ngIf]="!useExisting && !copyOverlay">
        <button type="button" mat-button class="color-blue" (click)="copyPackageOverlay()">Copy</button>
        <button type="button" mat-button class="color-green" (click)="useExisting = true">Use Existing</button>
    </ng-template>

</mat-dialog-actions>
