<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content>

    <p *ngIf="description !== null">{{description}}</p>

    <div *ngIf="this.data?.folderId != null" class="well">
        <div><button mat-button color="accent" [mat-dialog-close]="this.data?.folderId">No parent</button></div>
        <div style="margin-left: 15px;"><small>Choose "No parent" if you want this folder to be a root level folder.</small></div>
    </div>
    
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding matTreeNodePaddingIndent="20" [mat-dialog-close]="node.folderId">
            <button mat-icon-button [disabled]="true">
                <span style="display:inline-block;width:18px;">&nbsp;</span>
            </button>
            <span class="spacer">{{node.name}}</span>
        </mat-tree-node>

        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodePaddingIndent="20" [mat-dialog-close]="node.folderId">
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                <mat-icon [inline]="true" class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
            </button>
            <span class="spacer">{{node.name}}</span>
        </mat-tree-node>

    </mat-tree>

</mat-dialog-content>

<mat-dialog-actions>
    
    <button mat-button [mat-dialog-close]="null" class="t-confirm-no" color="warn">Cancel</button>

</mat-dialog-actions>
