.btn-info {
    display: flex;
    flex-direction: column;
    margin: 10px 50px;
    margin-bottom: 10px;
    outline: 10px solid #00000021;

    small {
        padding: 3px 6px;
        &:nth-of-type(even){
            background-color: #00000038;
        }
    }
}
