<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content>

    <p *ngFor="let msg of messages" [innerHtml]="msg | coloredString"></p>
    <div class="btn-info">
        <small *ngIf="data.yesMessage != null">{{data.yesMessage}}</small>
        <small *ngIf="data.noMessage != null">{{data.noMessage}}</small>
        <small *ngIf="data.cancelMessage != null">{{data.cancelMessage}}</small>
    </div>
</mat-dialog-content>

<mat-dialog-actions>

    <button mat-button [mat-dialog-close]="false" class="t-confirm-no" color="default">No</button>
    <button mat-button [mat-dialog-close]="true" class="t-confirm-yes" color="accent">Yes</button>
    <button mat-button [mat-dialog-close]="null" class="t-confirm-yes" color="warn" *ngIf="data.cancelMessage != null">Cancel</button>
    <ng-template [ngIf]="data.moreInfo != null">
        <span style="flex: 1 1 auto;"></span>
        <button mat-button class="color-blue" (click)="data.moreInfo()">More Info</button>
    </ng-template>

</mat-dialog-actions>
