.btn-info {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    margin-bottom: 10px;

    table {
        font-size: 13px;
        tr {
            td {
                padding: 10px;
                &:first-of-type {
                    vertical-align: top;
                    white-space: nowrap;
                }
            }
        }
    }

}
