mat-dialog-content {
    padding-bottom: 15px;
}

.icon-view {
    img {
        border: 2px solid #272727;
    }
    display: inline-block;
    cursor: pointer;
    padding: 0 1px;
    box-sizing: border-box;
}

.icon-container {
    margin: auto;
}