table {
    td {
        max-width: 0px;
    }
}

.creator-actions {
    .spacer {
        display: flex;
        flex: 1 0 auto;
    }
    button {
        mat-icon {
            margin-top: -4px;
        }
    }
    display:flex;
    flex-direction: row;
    padding:15px;
}

.with-changes {
    color: #69f0ae;
}

.deleted {
    color: #f44336;
}
