<div class="modal">
    <header>
        <mat-toolbar class="titlebar" color="default">
            <span>Trigger Library</span>
            <span class="spacer"></span>
            <button mat-icon-button aria-label="Exit GINA import" (click)="closeModal()">
                <mat-icon>clear</mat-icon>
            </button>
        </mat-toolbar>
    </header>
    <section>
        <form #triggerLibraryForm="ngForm">
            <div *ngIf="loadingLibrary" class="loading-gina">
                <p>Loading ...</p>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <div class="tab-content" *ngIf="!loadingLibrary">

                <div class="ft-row">
                    <div class="ft-item" style="margin: 3px; width: 32%;">
                        <div class="ft-content">

                            <div class="trigger-categories-header">
                                <span>Categories</span>
                                <span class="spacer"></span>
                            </div>

                            <ul class="flat-tree">
                                <li (click)="selectCategory('installed')" [ngClass]="{'selected-category': isCategorySelected('installed')}">Installed</li>
                                <li *ngFor="let category of categories" (click)="selectCategory(category)" [ngClass]="{'selected-category': isCategorySelected(category)}">{{category}}</li>
                            </ul>

                        </div>
                    </div>
                    <div class="ft-item" style="flex: 1 1;">
                        <div class="ft-content" style="min-height: 500px; padding: 25px;">
                            
                            <ng-template [ngIf]="showNewTrigger">
                                <app-new-trigger-package (triggerPackage)="onNewPackage($event)" [authorId]="author?.authorId" [selectedCategory]="selectedCategory"></app-new-trigger-package>
                            </ng-template>
                            <ng-template [ngIf]="showEditTrigger">
                                <app-new-trigger-package (triggerPackage)="onSavePackage($event)" [authorId]="author?.authorId" [selectedCategory]="selectedCategory" [packageId]="editPackageId"></app-new-trigger-package>
                            </ng-template>
                            <ng-template [ngIf]="showDetailsModel">
                                <div><button mat-button class="back-to-list-btn color-green" (click)="showBrowsePackages()"><mat-icon style="transform: rotate(180deg)">forward</mat-icon> Back to List</button></div>
                                <app-trigger-package-details [packageId]="viewPackageId" (editPackageId)="showEditPackage($event)"></app-trigger-package-details>
                            </ng-template>
                            <ng-template [ngIf]="showBrowse">
                                <div style="display: flex; align-items: center;">
                                    <h3>Browse Packages</h3><span style="flex: 1 1 auto;"></span>
                                    <button mat-icon-button class="color-green" *ngIf="trustedAuthor" (click)="createNewPackage()" title="Create a new Package"><mat-icon>add</mat-icon></button>
                                </div>
                                <div *ngIf="showTagSelector">
                                    <mat-form-field style="width: 100%">
                                        <mat-label>Tags</mat-label>
                                        <mat-select [(ngModel)]="tags" name="tagsSelector" multiple>
                                            <mat-option *ngFor="let tag of tagOptions" [value]="tag">{{tag}}</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </div>
                                <div>

                                    <table mat-table #overlaysTable="matTable" style="width: 100%;" [dataSource]="filteredPackages">
                
                                        <ng-container matColumnDef="name">
                                            <th mat-header-cell *matHeaderCellDef style="padding-left: 15px;"> Name </th>
                                            <td mat-cell *matCellDef="let element; let i = index" style="padding-left: 15px;"> {{element.name}} </td>
                                        </ng-container>
                
                                        <ng-container matColumnDef="author">
                                            <th mat-header-cell *matHeaderCellDef style="padding-left: 15px;"> Author </th>
                                            <td mat-cell *matCellDef="let element; let i = index" style="padding-left: 15px;"> {{element.author}} </td>
                                        </ng-container>
                
                                        <ng-container matColumnDef="updated">
                                            <th mat-header-cell *matHeaderCellDef style="padding-left: 15px; width: 100px;"> Last Updated </th>
                                            <td mat-cell *matCellDef="let element; let i = index" style="padding-left: 15px; width: 100px;"> <span title="{{element.timestamp | date:'medium'}}">{{element.timestamp | date:'shortDate'}}</span> </td>
                                        </ng-container>
                
                                        <tr mat-header-row *matHeaderRowDef="['name', 'updated']"></tr>
                                        <tr mat-row *matRowDef="let element; columns: ['name', 'updated'];" class="package-row" (click)="showTriggerDetails(element.triggerPackageId)"></tr>

                                    </table>

                                </div>
                            </ng-template>
                            
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </section>
    <footer>
        <!-- <button mat-button [disabled]="ginaImportForm.invalid" (click)="save()">Save</button> -->
        <button mat-button color="warn" (click)="closeModal()">Close</button>
        <!-- <button mat-button color="accent" (click)="copyJson()" *ngIf="isDev">Copy JSON</button> -->
        <!-- <button mat-button color="default" (click)="reimportDotTimerFromAllakhazam()" *ngIf="model.allakhazamUrl != null && model.allakhazamUrl.indexOf('spell.html') > -1">Re-import from Allakhazam</button> -->
    </footer>
</div>