
mat-form-field {
    font-size: 12px;
}

div.loading-gina {
    display: flex;
    flex-direction: column;
    padding: 10px 20%;
    align-items: center;
}

.package-row {
    cursor: pointer;

    &:hover {
        td {
            background-color: #ffffff11;
        }
    }

    &:active {
        td {
            background-color: #ffffff1e;
        }
    }
}

div.tab-content {
    overflow-y: scroll;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 77px;
    top: 64px;
    padding: 15px 10px 15px 10px !important;

    > fieldset:not(:first-child) {
        margin-top: 50px;
    }
}

.import-actions {
    .spacer {
        display: flex;
        flex: 1 0 auto;
    }
    button {
        mat-icon {
            margin-top: -4px;
        }
    }
    display:flex;
    flex-direction: row;
    padding:15px;
}

ul {
    display: block;
    padding: 0;
    margin: 0;

    li {
        list-style: none;
        padding: 1px 5px;
        cursor: pointer;
    }
}

h3 {
    font-weight: 300;
    font-size: 32px;
}

button.back-to-list-btn {
    position: absolute;
    right: 50px;
    top: 80px;
}

.selected-category {
    font-weight: bold;
}
