<mat-tab-group animationDuration="0ms" [selectedIndex]="0">
    <mat-tab label="Audio File">
        
        <div class="card-tab-content">

            <div class="card-property">
                
                <div class="content-top">Select an audio file from the list or upload a new file.</div>

                <div class="content-vertical content-right">
                    
                    <div class="align-content-justify">
                        <mat-form-field>
                            <mat-label></mat-label>
                            <mat-select [(ngModel)]="action.audioFileId" name="ddlAudioFileId">
                                <mat-option *ngFor="let option of audioFiles" [value]="option.fileId">{{option.fileName}}</mat-option>
                            </mat-select>
                            <mat-hint>Saved audio clips</mat-hint>
                        </mat-form-field>
                        <div class="self-center"><button mat-icon-button *ngIf="action.audioFileId != null" (click)="playSelectedAudioFile()"><mat-icon>play_circle_outline</mat-icon></button></div>
                    </div>

                    <div><button mat-button (click)="openAudioFileModal()">Select new audio file.</button></div>

                </div>
                
            </div>

            <div class="card-property">
                <div class="content-middle">Volume</div>
                <div class="content-right"><mat-slider [(ngModel)]="action.audioVolume" thumbLabel tickInterval="1" min="1" max="100" style="width: 100%;" ></mat-slider></div>
            </div>

            <!-- <p>Select an audio file from the list or upload a new file.</p>

            <mat-form-field>
                <mat-label>Existing audio files</mat-label>
                <mat-select [(ngModel)]="action.audioFileId" name="ddlAudioFileId" (selectionChange)="this.onChange.emit(action.audioFileId)">
                    <mat-option *ngFor="let option of audioFiles" [value]="option.fileId">{{option.fileName}}</mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-icon-button *ngIf="action.audioFileId != null" (click)="playSelectedAudioFile()"><mat-icon>play_circle_outline</mat-icon></button>

            <div>
                <button mat-button (click)="openAudioFileModal()">Select new audio file.</button>
            </div> -->

        </div>

    </mat-tab>
</mat-tab-group>
<input type="file" #audioFileSelector style="display:none;" accept="audio/mpeg" (change)="onAudioFileSelected($event)" />
