<h2 mat-dialog-title>{{(data.title == null ? 'Information required' : data.title)}}</h2>

<mat-dialog-content>

    <p *ngFor="let msg of messages">{{msg}}</p>

    <mat-form-field *ngIf="!data.useTextArea">
        <mat-label *ngIf="data.hint != null && data.label != null">{{data.label}}</mat-label>
        <input matInput [(ngModel)]="model" />
        <mat-hint *ngIf="data.hint != null || data.label != null">{{data.hint ? data.hint : data.label}}</mat-hint>
    </mat-form-field>

    <mat-form-field *ngIf="data.useTextArea">
        <mat-label *ngIf="data.hint != null && data.label != null">{{data.label}}</mat-label>
        <textarea matInput [(ngModel)]="model" style="width: 100%" rows="10"></textarea>
        <mat-hint *ngIf="data.hint != null || data.label != null">{{data.hint ? data.hint : data.label}}</mat-hint>
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
    
    <button mat-button (click)="cancel()" class="t-confirm-no" color="warn">Cancel</button>
    <button mat-button (click)="accept()" class="t-confirm-no">OK</button>

</mat-dialog-actions>
