<h2 mat-dialog-title>Setup</h2>

<mat-dialog-content class="setup-wizard">
    <mat-stepper [linear]="true" #stepper>

        <mat-step label="Welcome" ariaLabel="Welcome">
            <p>NAG is an EverQuest Notification Agent.  It works by reading your EverQuest log file for specific phrases and reacts to those log entries in many different ways.</p>
            <p>To begin, we need to configure a few settings.  To make this easy, I'll ask you a few questions first.</p>
        </mat-step>

        <mat-step label="FCT" ariaLabel="FCT">
            <div class="img-float-left"><img src="/assets/images/fct-example.png" /></div>
            <p>Floating combat text will display the damage amounts from your hits or hits to you on your screen.</p>
            <p>Would you like to enable floating combat text?</p>
            <mat-slide-toggle [(ngModel)]="enableFct" name="enableFct" style="margin-bottom: 14px;"></mat-slide-toggle>
            <p class="notice border-green" *ngIf="enableFct">
                <mat-icon class="material-icons color-green">engineering</mat-icon><span>This feature is in an early phase and doesn't support a lot of customization options, but more options are in development.</span>
            </p>
        </mat-step>

        <mat-step label="Overlays" ariaLabel="Overlays">

            <p>Timers and Overlays can be displayed in two basic formats: Grouped and Linear</p>
            <p>Which format would you like your timers?</p>

            <div style="padding-left: 25px;">
                <mat-radio-group [(ngModel)]="groupedTimers" name="groupedTimers">
                    <mat-radio-button [value]="true" class="picture-radio">
                        <div>Grouped</div>
                        <img src="/assets/images/grouped-timer-example.png" [ngClass]="{'selected-grouping': groupedTimers === true}" />
                    </mat-radio-button>
        
                    <mat-radio-button [value]="false" class="picture-radio">
                        <div>Linear</div>
                        <img src="/assets/images/inline-timer-example-2.png" [ngClass]="{'selected-grouping': groupedTimers === false}" />
                    </mat-radio-button>
                </mat-radio-group>
            </div>

        </mat-step>

        <mat-step label="Characters" ariaLabel="Characters">

            <div style="padding-bottom: 15px; text-align: center;">
                <p>Click on the New Character button to add characters to track in NAG.</p>
                <div class="button-highlight-green">
                    <button mat-button color="accent" (click)="characterList.newCharacter()">New Character</button>
                </div>
            </div>

            <app-characters-list #characterList></app-characters-list>

        </mat-step>

        <mat-step label="Finished" ariaLabel="Finished">
            <p>What to do after setup?</p>
            <mat-list>
                <mat-list-item>
                    <mat-icon mat-list-icon class="material-icons">groups</mat-icon>
                    <div mat-line>You can add additional characters by clicking on the green <span class="color-green">[New Character]</span> button in the Characters tab.</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon class="material-icons-outlined">layers</mat-icon>
                    <div mat-line>Setup will create default overlays for you.  You can change the size and position of those overlays in the Overlays tab.  At the top, click on the blue <span class="color-blue">[Arrange Overlays]</span> button.</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon class="material-icons">local_library</mat-icon>
                    <div mat-line>There are trigger packages available in the library for common tasks.  In the Triggers tab, click on the blue <span class="color-blue">[Trigger Library]</span> button to begin importing triggers.</div>
                </mat-list-item>
            </mat-list>
            
        </mat-step>

    </mat-stepper>
</mat-dialog-content>

<mat-dialog-actions>
    
    <div>
        <button mat-button [mat-dialog-close]="null" class="t-confirm-no" color="warn">Cancel Setup Wizard</button>

        <span class="spacer"></span>

        <ng-template [ngIf]="!onLastStep" [ngIfElse]="completeSetup">
            <button mat-button (click)="previous()">Previous</button>
            <div style="padding-top: 7px; opacity: 0.25; margin-left: 10px; margin-right: 10px;">|</div>
            <button mat-button (click)="next()">Next</button>
        </ng-template>

        <ng-template #completeSetup>
            <button mat-button color="accent" (click)="complete()">Complete Setup!</button>
        </ng-template>

    </div>

</mat-dialog-actions>
