
<mat-accordion class="example-headers-align">
    <mat-expansion-panel hideToggle *ngFor="let character of characters; let i = index" [expanded]="selectedTabIndex === i" (afterExpand)="onCharacterSelected(character, i)">
      <mat-expansion-panel-header>
        <mat-panel-title>{{character.name}}<small>{{character.class | className}}</small></mat-panel-title>
        <mat-panel-description>
            <ng-template [ngIf]="character.p99">P1999&nbsp;</ng-template>
            <ng-template [ngIf]="character.takp">TAKP&nbsp;</ng-template>
            {{character.server}}
            <mat-icon *ngIf="activeLogFilesDictionary[character.characterId] === true" color="accent">cast_connected</mat-icon>
            <mat-icon *ngIf="activeLogFilesDictionary[character.characterId] !== true">cast</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-tab-group animationDuration="0ms" [selectedIndex]="0">
        <mat-tab label="Settings">
            <div class="character-tab-content">

                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            Log file
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <button mat-button color="accent" (click)="showFileSelector(character.characterId)">Select Log File</button>
                        <div><small>Current: {{character.logFile}}</small></div>
                    </mat-card-content>
                </mat-card>

                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Character</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        
                        <mat-form-field style="width: 50%;">
                            <mat-label>Character Class</mat-label>
                            <mat-select [(ngModel)]="character.class" name="ddlCharacterClass_{{i}}" (selectionChange)="updateCharacter(character)">
                                <mat-option value="BRD">Bard</mat-option>
                                <mat-option value="BST">Beastlord</mat-option>
                                <mat-option value="BER">Berserker</mat-option>
                                <mat-option value="CLR">Cleric</mat-option>
                                <mat-option value="DRU">Druid</mat-option>
                                <mat-option value="ENC">Enchanter</mat-option>
                                <mat-option value="MAG">Magician</mat-option>
                                <mat-option value="MNK">Monk</mat-option>
                                <mat-option value="NEC">Necromancer</mat-option>
                                <mat-option value="PAL">Paladin</mat-option>
                                <mat-option value="RNG">Ranger</mat-option>
                                <mat-option value="ROG">Rogue</mat-option>
                                <mat-option value="SHD">Shadowknight</mat-option>
                                <mat-option value="SHM">Shaman</mat-option>
                                <mat-option value="WAR">Warrior</mat-option>
                                <mat-option value="WIZ">Wizard</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </mat-card-content>
                </mat-card>
                
                <mat-card>

                    <mat-card-header>
                        <mat-card-title>Focus Effects</mat-card-title>
                    </mat-card-header>

                    <mat-card-content>
                        <table>
                            <tr>
                                <td class="character-focus-label"><mat-slide-toggle [(ngModel)]="character.hasExtendedDotFocus" (change)="updateCharacter(character)" name="hasExtendedDotFocus_{{i}}"> Extended DOT Focus?</mat-slide-toggle></td>
                                <td class="character-focus-values"><span *ngIf="character.hasExtendedDotFocus">
    
                                <mat-form-field style="width: 104px; margin-left: 15px;">
                                    <mat-label>%</mat-label>
                                    <input matInput  [(ngModel)]="character.extendedDotFocusPercent" name="extDotFocusPercent_{{i}}" type="string" (change)="updateCharacter(character)" />
                                    <mat-hint>Percent increase</mat-hint>
                                </mat-form-field>
                                
                                <mat-form-field style="width: 220px; margin-left: 15px;">
                                    <mat-label>Level</mat-label>
                                    <input matInput [(ngModel)]="character.extendedDotFocusDecayLevel" name="extDotFocusDecayLevel_{{i}}" type="number" (change)="updateCharacter(character)" />
                                    <mat-hint>Level at which decay begins</mat-hint>
                                </mat-form-field>
    
                            </span></td>
                            </tr>
                            <tr>
                                <td class="character-focus-label"><mat-slide-toggle [(ngModel)]="character.hasExtendedBeneficialFocus" (change)="updateCharacter(character)" name="hasExtendedBeneficialFocus_{{i}}"> Extended Beneficial Focus?</mat-slide-toggle></td>
                                <td class="character-focus-values">
                                    <span *ngIf="character.hasExtendedBeneficialFocus">
    
                                        <mat-form-field style="width: 104px; margin-left: 15px;">
                                            <mat-label>Worn</mat-label>
                                            <input matInput  [(ngModel)]="character.extendedBeneficialFocusPercent" name="extBeneficialFocusPercent_{{i}}" type="string" (change)="updateCharacter(character)" />
                                            <mat-hint>Worn Percent</mat-hint>
                                        </mat-form-field>
                                        
                                        <mat-form-field style="width: 220px; margin-left: 15px;">
                                            <mat-label>Level</mat-label>
                                            <input matInput [(ngModel)]="character.extendedBeneficialFocusDecayLevel" name="extBeneficialFocusDecayLevel_{{i}}" type="number" (change)="updateCharacter(character)" />
                                            <mat-hint>Level at which decay begins</mat-hint>
                                        </mat-form-field>

                                        <br />
    
                                        <mat-form-field style="width: 104px; margin-left: 15px;">
                                            <mat-label>AA</mat-label>
                                            <input matInput  [(ngModel)]="character.extendedBeneficialFocusAaPercent" name="extBeneficialFocusAaPercent_{{i}}" type="string" (change)="updateCharacter(character)" />
                                            <mat-hint>AA Percent</mat-hint>
                                        </mat-form-field>
    
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="character-focus-label"><mat-slide-toggle [(ngModel)]="character.hasBeneficialCastingSpeedFocus" (change)="updateCharacter(character)" name="hasBeneficialCastingSpeedFocus{{i}}"> Beneficial Spell Haste Focus?</mat-slide-toggle></td>
                                <td class="character-focus-values"><span *ngIf="character.hasBeneficialCastingSpeedFocus">
    
                                <mat-form-field style="width: 104px; margin-left: 15px;">
                                    <mat-label>Worn</mat-label>
                                    <input matInput [(ngModel)]="character.beneficialCastingSpeedFocusPercent" name="beneficialCastingSpeedFocusPercent{{i}}" type="string" (change)="updateCharacter(character)" />
                                    <mat-hint>Worn increase</mat-hint>
                                </mat-form-field>
                                
                                <mat-form-field style="width: 220px; margin-left: 15px;">
                                    <mat-label>Level</mat-label>
                                    <input matInput [(ngModel)]="character.beneficialCastingSpeedFocusDecayLevel" name="beneficialCastingSpeedFocusDecayLevel{{i}}" type="number" (change)="updateCharacter(character)" />
                                    <mat-hint>Level at which decay begins (empty for never).</mat-hint>
                                </mat-form-field>

                                <br />
    
                                <mat-form-field style="width: 104px; margin-left: 15px;">
                                    <mat-label>AA</mat-label>
                                    <input matInput [(ngModel)]="character.beneficialCastingSpeedFocusAaPercent" name="extBeneficialCastingSpeedFocusAaPercent_{{i}}" type="string" (change)="updateCharacter(character)" />
                                    <mat-hint>AA Percent</mat-hint>
                                </mat-form-field>
    
                                <mat-form-field style="width: 220px; margin-left: 15px;">
                                    <mat-label>Duration Limit</mat-label>
                                    <input matInput [(ngModel)]="character.beneficialCastingSpeedFocusAaDurationLimit" name="extBeneficialCastingSpeedFocusAaDurationLimit_{{i}}" type="string" (change)="updateCharacter(character)" />
                                    <mat-hint>The min duration (ms) for AA spell haste.</mat-hint>
                                </mat-form-field>
    
                            </span></td>
                            </tr>
                        </table>
                    </mat-card-content>
                </mat-card>

            </div>
        </mat-tab>
        <mat-tab label="Triggers">
            <div class="character-tab-content">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title></mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="character-triggers">
                            <div class="triggers-list" style="flex: 0 0 0;">
                                <h2>Profile</h2>
                                <div>
                                    <mat-form-field style="width: 100%;">
                                        <mat-label></mat-label>
                                        <mat-select [(ngModel)]="character.triggerProfile" name="ddlTriggerProfile_{{i}}" (selectionChange)="onTriggerProfileChanged(character)" profileId="profileId" #profileId="ngModel">
                                            <mat-select-trigger>
                                                {{getProfileName(profileId.value)}}
                                            </mat-select-trigger>
                                            <mat-option [value]="undefined">None</mat-option>
                                            <mat-option *ngFor="let triggerProfile of triggerProfiles" [value]="triggerProfile.profileId">
                                                {{triggerProfile.name}}
                                                <button mat-icon-button class="mat-option-button" color="warn" (click)="deleteTriggerProfile($event, triggerProfile.profileId)"><mat-icon>clear</mat-icon></button>
                                            </mat-option>
                                        </mat-select>
                                        <mat-hint>Select a trigger profile to load.</mat-hint>
                                    </mat-form-field>
                                    <div style="padding: 5px; white-space: nowrap;"><mat-checkbox [(ngModel)]="character.disableTriggersByDefault" (change)="saveCharacterDelay(character)">Disable new triggers by default</mat-checkbox>
                                        <sup class="help-sup"
                                            matTooltip="If enabled, new triggers that you create or install from the library or quickshare will be disabled for this profile."
                                            matTooltipPosition="right"
                                            matTooltipClass="tooltip-large">&nbsp;&nbsp;?</sup>
                                        </div>
                                    <div>
                                        <button mat-button class="color-green" (click)="addTriggerProfile(character)"><mat-icon>add</mat-icon> Create New Profile</button>

                                        <button mat-button class="color-orange" 
                                            *ngIf="character.triggerProfile" 
                                            matTooltipPosition="right" 
                                            matTooltip="Reset this character's triggers and reapply the selected profile."
                                            (click)="reapplyTriggerProfile(character, character.triggerProfile)"><mat-icon>refresh</mat-icon> Reapply Profile</button>

                                        <button mat-button class="color-light" 
                                            *ngIf="character.triggerProfile" 
                                            matTooltipPosition="right" 
                                            matTooltip="Update the selected profile and propagate changes to all other characters using the same profile."
                                            (click)="updateTriggerProfile(character, character.triggerProfile)"><mat-icon class="material-icons-outlined">save</mat-icon> Update "{{getProfileName(character.triggerProfile)}}" Profile</button>

                                    </div>
                                </div>
                            </div>
                            <div class="triggers-list">
                                <h2>Character Triggers</h2>
                                <div class="tree-container" *ngIf="characterData[character.characterId] != undefined">
                                    <mat-tree [dataSource]="characterData[character.characterId].dataSource" [treeControl]="characterData[character.characterId].treeControl" #tree>
                
                                        <!-- This is the tree node template for leaf/trigger nodes -->
                                        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding matTreeNodePaddingIndent="20" class="trigger-node" >

                                            <button mat-icon-button color="warn" *ngIf="node.selected" (click)="toggleEnabled(character, node)" style="opacity: 0.75;"><mat-icon>disabled_by_default</mat-icon></button>
                                            <button mat-icon-button color="accent" *ngIf="!node.selected" (click)="toggleEnabled(character, node)" style="opacity: 0.75;"><mat-icon class="material-icons-outlined">check_box</mat-icon></button>

                                            <div class="tree-click-target" title="{{node.name}}" (click)="toggleEnabled(character, node)"><span>{{node.name}}</span></div>
                                        </mat-tree-node>
                                
                                        <!-- This is the tree node template for expandable/folder nodes -->
                                        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodePaddingIndent="20" class="folder-node">
                                            
                                            <button mat-icon-button color="warn" *ngIf="node?.folderState === 'all'" (click)="onFolderSelectChange(character, node, false)" [disabled]="!node.hasChildren" style="opacity: 0.75;"><mat-icon>disabled_by_default</mat-icon></button>
                                            <button mat-icon-button color="warn" *ngIf="node?.folderState === 'partial'" (click)="onFolderSelectChange(character, node, true)" [disabled]="!node.hasChildren" style="opacity: 0.75;"><mat-icon>indeterminate_check_box</mat-icon></button>
                                            <button mat-icon-button color="accent" *ngIf="node?.folderState === 'none'" (click)="onFolderSelectChange(character, node, true)" [disabled]="!node.hasChildren" style="opacity: 0.75;"><mat-icon class="material-icons-outlined">check_box</mat-icon></button>

                                            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name" [disabled]="!node.hasChildren">
                                                <mat-icon [inline]="true" class="mat-icon-rtl-mirror">
                                                    {{characterData[character.characterId].treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                                </mat-icon>
                                            </button>
                                            <div class="tree-click-target"><span [ngClass]="{'disabled-label': !node.hasChildren}">{{node.name}}</span></div>
                                        </mat-tree-node>
                                    </mat-tree>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>

            </div>
        </mat-tab>
      </mat-tab-group>

      <mat-action-row>
        <button type="button" mat-button color="warn" (click)="deleteCharacter(character)">Remove character</button>
      </mat-action-row>
    </mat-expansion-panel>
  
  </mat-accordion>
  <div class="saved-label" #savedLabel>Saved!</div>

  <input type="file" #fileSelector style="display:none;" accept="*.txt" (change)="fileSelected($event)" />
