<h2 mat-dialog-title>Import DoT Timer ({{serviceName}})</h2>

<mat-dialog-content>
    
    <p *ngIf="data?.trigger?.triggerId != null">WARNING: This may overwright any custom setting you have applied to this trigger.  Are you sure you want to continue?</p>

    <mat-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="stepOneForm.control" label="Scrape">
            <form #stepOneForm="ngForm">
                <p>
                    
                    <mat-form-field style="width: 100%;">
                        <mat-label></mat-label>
                        <input matInput type="text" [(ngModel)]="url" name="url" required />
                        <mat-hint>{{serviceName}} URL</mat-hint>
                    </mat-form-field>
                </p>
                            
                <div>
                    <button mat-button (click)="scrape()">Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="stepTwoForm.control" label="Tracking">
            <form #stepTwoForm="ngForm">

                <p>
                                
                    <mat-form-field style="width: 50%;">
                        <mat-label></mat-label>
                        <mat-select [(ngModel)]="overlayId" name="ddlDotTimerOverlay" required>
                            <mat-option *ngFor="let option of timerOverlays" [value]="option.overlayId">{{option.name}}</mat-option>
                        </mat-select>
                        <mat-hint>Overlay Window</mat-hint>
                    </mat-form-field>
                </p>
                <p><mat-checkbox [(ngModel)]="onlyExecuteForRareEqTargets" name="onlyExecuteForRareEqTargets">Only execute for rare and raid targets.</mat-checkbox></p>
                <p><mat-checkbox [(ngModel)]="cancelTimerIfTargetDies" name="cancelTimerIfTargetDies">End timer early if your target dies.</mat-checkbox></p>
                
                <div>
                    <button mat-button matStepperPrevious>Prev</button>
                    <button mat-button matStepperNext [disabled]="stepTwoForm.invalid">Next</button>
                </div>

            </form>
        </mat-step>
        <mat-step label="Import">
            <form>
                <p>Ready for import!</p>
                <div>
                    <button mat-button (click)="generateTrigger()" class="t-confirm-yes" color="accent">Import</button>
                </div>
            </form>
        </mat-step>
    </mat-stepper>
</mat-dialog-content>

<mat-dialog-actions>

  <button mat-button mat-dialog-close class="t-confirm-no" color="warn">Cancel</button>

</mat-dialog-actions>
