
mat-form-field {
    font-size: 12px;
}

.action-header-image {
    .material-icons {
        font-size: 50px;
    }
}

.action-movers {
    display: flex;
    flex-flow: column nowrap;
    padding: 0 15px;

    > button {
        opacity: 0.67;
        &:hover {
            opacity: 1;
        }
    }
}

.content {
    overflow: auto;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 76px;
    top: 107px;
}

::ng-deep .card.action-card {
    mat-card-content {
        padding-top: 50px;
    }
}

.toolbar-top {
    height: 36px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #1a1a1a;
}

.flex-layout {
    padding-top: 30px;
}

.spacer {
    flex: 1 1 auto;
}
