.debug-toggle {
    position: fixed;
    bottom: 0;
    right: 61px;
    height: 24px;
    background-color: #101010bf;
    color: #c3c3c3;
    z-index: 2;
    box-sizing: border-box;

    &:hover {
        background-color: #101010;
    }

    button {
        font-size: 12px;
        line-height: 26px;
        border-radius: 0px;
    }
}

:host::ng-deep ul {
    font-family: Consolas, monospace;
    font-size: 12px;
    padding-left: 17px;

    li {
        line-height: 17px;
        list-style-type: none;

        b {
            color: #69b2f0;
        }
    }
}

:host::ng-deep mat-form-field {
    padding: 0;
    margin: 1px 0;
    font-size: 12px;
    border: none;
    margin: 4px 0;

    .mat-select-placeholder {
        color: #ffffff80 !important;
        -webkit-text-fill-color: unset !important;
    }

    .mat-form-field-underline {
        display: none;
    }

    .mat-form-field-wrapper {
        padding-bottom: 0;
    }

    mat-icon[matPrefix] {
        opacity: 0.25;
        text-align: center;
        margin-bottom: -10px;
        font-size: 25px;
        width: 25px;
        height: 25px;
    }
}

.debug-console-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: #101010;
    color: #c3c3c3;
    z-index: 2;
    overflow: auto;
    padding: 10px 0px;
    padding-top: 0px;
    box-sizing: border-box;
    border-top: 3px solid #ffffff40;


    .console-toolbar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        left: 0;
        right: 0;
        top: 0;
        position: sticky;
        background-color: #141414;
        z-index: 1;

        button {
            border-radius: 0;
            font-size: 12px;
            line-height: 26px;

            &.selected {

                &.color-green {
                    background-color: #69f0ae1a;
                }
    
                &.color-red {
                    background-color: #f069691a;
                }

            }

        }

        .console-title {
            font-size: 14px;
            font-weight: bold;
        }

        .console-close {
            cursor: pointer;
            font-size: 14px;
            font-weight: bold;
        }

        select {
            outline: none;
            border-radius: 0;
            border: none;
            background: #00000000;
            color: #c3c3c3;
            -webkit-padding-end: 20px;
            -webkit-padding-start: 2px;

            option {
                background-color: #141414;
            }
        }
    }

    .console-bottom-buttons {
        position: fixed;
        display: inline-block;
        right: 0;
        bottom: 0;
        z-index: 1;
        padding: 0 25px;

        button {
            border-radius: 0;
            font-size: 12px;
            line-height: 26px;
        }
    }

    .console-input-area {
        display: flex;
        width: 100%;
        flex-flow: row nowrap;
        padding-left: 7px;

        > span {
            flex: 0;
            padding-right: 3px;
            color: #69b2f0;
            font-weight: 600;
            font-family: Consolas, 'Open Sans Condensed';
        }

        input[type=text] {
            width: 100%;
            background-color: #101010;
            color: #c3c3c3;
            border: none;
            outline: none;
            font-size: 12px;
            font-family: Consolas, monospace;
            flex: 0 1 auto;
        }
    }
}
