<mat-toolbar>
    <span>Settings</span>
    <span class="spacer"></span>
    <small>EverQuest Notification Agent v{{version}}</small>
</mat-toolbar>
<div class="tab-content">

    <fieldset>
        <legend><span class="title">Log File Maintenance</span></legend>
        <div class="card-property">
            <div class="content-middle content-top">
                <mat-checkbox [(ngModel)]="logMaintenanceRules.enableLogFileMaintenance" (change)="updateSetting(settingsKeys.logMaintenanceRules, logMaintenanceRules)">Enable Log File Maintenance.</mat-checkbox>
            </div>
            <div class="content-left" style="min-width: 560px;">
                <p>How would you like to execute log file archiving?</p>
                <mat-radio-group [(ngModel)]="logMaintenanceRules.maintenancePlan">
                    <mat-radio-button [value]="logMaintenancePlanTypes.BySize">When a log file reaches a certain size.</mat-radio-button>
                    <mat-radio-button [value]="logMaintenancePlanTypes.BySchedule">On a schedule.</mat-radio-button>
                </mat-radio-group>
                <div *ngIf="logMaintenanceRules.maintenancePlan === logMaintenancePlanTypes.BySize">
                    <mat-form-field style="width: 100%;">
                        <mat-label></mat-label>
                        <mat-select [(ngModel)]="logMaintenanceRules.maxLogFileSizeMb" name="maxLogFileSizeMb" [disabled]="!logMaintenanceRules.enableLogFileMaintenance" (selectionChange)="updateSetting(settingsKeys.logMaintenanceRules, logMaintenanceRules)">
                            <mat-option [value]="20">20 MB</mat-option>
                            <mat-option [value]="50">50 MB</mat-option>
                            <mat-option [value]="100">100 MB</mat-option>
                            <mat-option [value]="500">500 MB</mat-option>
                            <mat-option [value]="1000">1 GB (Why!?)</mat-option>
                        </mat-select>
                        <mat-hint>Select the file size required before the log file will be archived.</mat-hint>
                    </mat-form-field>
                </div>
                <div *ngIf="logMaintenanceRules.maintenancePlan === logMaintenancePlanTypes.BySchedule">

                    <mat-button-toggle-group name="daysOfWeek" aria-label="Days of the week to perform log maintenance" multiple class="daysOfWeekToggleGroup" (change)="saveLogMaintenance()" [(ngModel)]="logDays">
                        <mat-button-toggle [value]="0">Sun</mat-button-toggle>
                        <mat-button-toggle [value]="1">Mon</mat-button-toggle>
                        <mat-button-toggle [value]="2">Tue</mat-button-toggle>
                        <mat-button-toggle [value]="3">Wed</mat-button-toggle>
                        <mat-button-toggle [value]="4">Thu</mat-button-toggle>
                        <mat-button-toggle [value]="5">Fri</mat-button-toggle>
                        <mat-button-toggle [value]="6">Sat</mat-button-toggle>
                    </mat-button-toggle-group>
                      
                    <ng-template #timePickerCancel>
                        <button mat-button color="default">Cancel</button>
                    </ng-template>
                    <ng-template #timePickerConfirm>
                        <button mat-flat-button color="accent">OK</button>
                    </ng-template>
                    <mat-form-field class="archiveTimeOfDay">
                        <mat-label></mat-label>
                        <input matInput [ngxMatTimepicker]="picker" [(ngModel)]="logTime" (ngModelChange)="saveLogMaintenance()">
                        <button mat-icon-button matSuffix >
                            <mat-icon matSuffix
                            (click)="picker.open()">
                                watch_later
                            </mat-icon>
                        </button>
                        <mat-hint>Archive time of day</mat-hint>
                        <ngx-mat-timepicker #picker [cancelBtnTmpl]="timePickerCancel" [confirmBtnTmpl]="timePickerConfirm" [format]="12"></ngx-mat-timepicker>
                    </mat-form-field>
                    
                </div>
            </div>

            <!-- TODO: Add more logging options. 1. Backup when Nag closes/daily.  Keep a backup file for each log day.  Would be nice to allow the user to search backedup log files for zones/raids. -->

        </div>
        <div class="card-property">
            <div class="content-right">



            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend><span class="title">General Options</span></legend>
        <div class="fifty-grid">
            <div>
                <h2 class="sub-header full-width">Window Options</h2>
                <div class="formless-hint full-width">
                    <div class="formless-input"><mat-checkbox [(ngModel)]="minimizeToTrayOnLoad" (change)="onMinimizeToTrayOnLoadChange()">Open minimized to tray.</mat-checkbox></div>
                    <mat-hint>If enabled, when the application runs it will be minimized to the application tray by default.</mat-hint>
                </div>
                <div class="formless-hint full-width">
                    <div class="formless-input"><mat-checkbox [(ngModel)]="glowOnStartup" (change)="onGlowOnStartupChanged()">Glow on startup.</mat-checkbox></div>
                    <mat-hint>If enabled, will glow the primary display when Nag starts up.</mat-hint>
                </div>
            </div>
            <div>
                <h2 class="sub-header full-width">Update Settings</h2>
                <div class="formless-hint full-width">
                    <div class="formless-input"><mat-checkbox [(ngModel)]="allowPrerelease" (change)="updateSetting( this.settingsKeys.allowPrerelease, this.allowPrerelease, 500 )">Allow Pre-release.</mat-checkbox></div>
                    <mat-hint>If enabled, will automatically update to the latest pre-release.</mat-hint>
                </div>
            </div>
            <div>
                <h2 class="sub-header full-width">Modal Settings</h2>
                <button mat-flat-button (click)="resetHiddenModals()">Reset Hidden Modals</button>
            </div>
            <div>
                <h2 class="sub-header full-width">Renderer Settings</h2>
                <div class="formless-hint full-width">
                    <div class="formless-input"><mat-checkbox [(ngModel)]="enableCheckWindowPosition" (change)="updateSetting( this.settingsKeys.enableCheckWindowPosition, this.enableCheckWindowPosition, 500 )">Enable relative window positions.</mat-checkbox></div>
                    <mat-hint>
                        If enabled, will maintain the relative position of an overlay.
                        <sup class="help-sup"
                            matTooltip="Click here for more help."
                            matTooltipPosition="above"
                            matTooltipClass="tooltip-large"
                            (click)="explainWindowChecking()">&nbsp;&nbsp;?</sup>
                    </mat-hint>
                </div>
                <!-- <div class="formless-hint full-width">
                    <div class="formless-input"><mat-checkbox [(ngModel)]="enableGpuAcceleration" (change)="updateSetting( this.settingsKeys.enableGpuAcceleration, this.enableGpuAcceleration, 500 )">Enable GPU acceleration.</mat-checkbox></div>
                    <mat-hint>
                        If enabled, will enable hardware acceleration.  <span class="color-red-warn" *ngIf="this.updatedSettings.includes( this.settingsKeys.enableGpuAcceleration )">Changing this requires a restart.</span>
                    </mat-hint>
                </div> -->
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend><span class="title">Sound</span></legend>
        <div class="fifty-grid">
            <div>
                <h2 class="sub-header full-width">Volume</h2>
                <div>Master Volume</div>
                <mat-slider [(ngModel)]="masterVolume" thumbLabel tickInterval="1" min="1" max="100" style="width: 100%;" (change)="onChangeMasterVolume()" ></mat-slider>
                <div>Text to Speech Volume</div>
                <mat-slider [(ngModel)]="speechVolume" thumbLabel tickInterval="1" min="1" max="100" style="width: 100%;" (change)="updateSetting( settingsKeys.speechVolume, speechVolume, 500 )"></mat-slider>
                <div>Audio Volume</div>
                <mat-slider [(ngModel)]="audioVolume" thumbLabel tickInterval="1" min="1" max="100" style="width: 100%;" (change)="updateSetting( settingsKeys.audioVolume, audioVolume, 500 )"></mat-slider>
            </div>
            <div>
                <h2 class="sub-header full-width">Text to Speech</h2>
                <mat-form-field style="width: 100%;">
                    <mat-label></mat-label>
                    <mat-select [(ngModel)]="voiceIndex" (selectionChange)="onChangeVoice()">
                        <mat-option *ngFor="let option of voiceOptions; let i = index" [value]="i">{{option.name}}</mat-option>
                    </mat-select>
                    <mat-hint>Select the text to speech voice</mat-hint>
                </mat-form-field>
                <div style="margin-top: 15px;">Base Speaking Rate</div>
                <mat-slider [(ngModel)]="baseSpeakingRate" thumbLabel tickInterval="0.25" step="0.25" min="0.25" max="4" style="width: 100%;" (change)="updateSetting( settingsKeys.baseSpeakingRate, baseSpeakingRate, 500 )"></mat-slider>
                <div>
                    <h3 class="sub-header full-width">Examples</h3>
                    <div>
                        <button mat-button (click)="speakPhrase(exampleSpeech, 1)"><mat-icon>play_circle_outline</mat-icon> Normal</button>
                        <button mat-button (click)="speakPhrase(exampleSpeech, 1.75)"><mat-icon>play_circle_outline</mat-icon> Fast</button>
                        <button mat-button (click)="speakPhrase(exampleSpeech, 2.25)"><mat-icon>play_circle_outline</mat-icon> Very Fast</button>
                        <mat-form-field style="width: 100%">
                            <mat-label></mat-label>
                            <input matInput type="text" [(ngModel)]="exampleSpeech" name="txtExampleSpeech" />
                            <mat-hint>Example speech</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset style="padding-left: 28px; padding-right: 28px; padding-top: 60px;">
        <legend><span class="title">Death Recap</span></legend>
        <p>The death recap window can give you a "bird's eye view" of what happened leading up to a character's demise.  The purpose of this window is to display some metrics important to that question.  
        <br />The <span class="color-orange-dark" style="font-weight: 400;">Damage Log</span> section will display what happened to your character, including damage taken and healing received.  
        <br />The <span class="color-orange-dark" style="font-weight: 400;">Damage Sources</span> section will show a list of all NPC damage done to the raid, and all healing received by the raid.  
        <br />The <span class="color-orange-dark" style="font-weight: 400;">Encounter Statistics</span> will list the general statistics of the raid, and a list of metrics for each enemy encountered in the fight.</p>
        <p>To enable the Death Recap window, select how you would like the window to be loaded.
        <br/>Loading with <span class="color-blue" style="font-weight: 400;">Hotkey</span> will create an EQ hotkey that when pressed, will display your last death.
        <br/>Loading with <span class="color-blue" style="font-weight: 400;">Automatic</span> will automatically display the Death Recap window when you are slain.</p>

        <mat-radio-group [(ngModel)]="deathRecapPreferences.engageMode" name="deathRecapEngageMode" (change)="onDeathRecapPrefsChange()">
            <mat-radio-button value="hotkey">
                <div>Hotkey</div>
            </mat-radio-button>

            <mat-radio-button value="automatic">
                <div>Automatic</div>
            </mat-radio-button>
        </mat-radio-group>

        <ng-template [ngIf]="deathRecapPreferences.engageMode === 'hotkey'">
            <p>To create a hotkey, copy the command below and paste it into EverQuest and hit enter.</p>
            <code style="margin-left: 25px; margin-bottom: 25px;">{{deathRecapPreferences.hotkeyPhrase}}</code>
            <button type="button" style="margin-left: 10px; color: #69b2f0;" mat-button (click)="onCopyDeathRecapHotkeyCommand()">Copy</button>
        </ng-template>

    </fieldset>

    <fieldset>
        <legend><span class="title">Sharing</span> <button mat-icon-button color="accent" (click)="showVerifiedUserInfo()" *ngIf="trustedAuthor"><mat-icon class="material-icons-outlined">verified_user</mat-icon></button></legend>

        <div style="display: flex; flex-direction: row;">
            <div style="width: 50%; padding: 0 15px 0 0;">
                <h2 class="header-glow">Quickshare</h2>
                <div>
                    <div class="formless-hint full-width" style="margin-top: 5px;">
                        <div class="formless-input"><mat-checkbox [(ngModel)]="enableQuickShareImports" (change)="onQuickShareImportsChange()">Enable importing QuickShare triggers.</mat-checkbox></div>
                        <mat-hint>If enabled, will listen for and respond to quick share triggers in the log file.</mat-hint>
                    </div>
                </div>
                <div style="margin-top: 35px;">
                    <mat-radio-group class="inline" [(ngModel)]="quickShareAuthorListType" name="rdoQuickShareAuthorListType" (change)="onQuickShareImportsChange()">
                        <mat-radio-button [value]="quickShareAuthorListTypes.Disabled">Disabled</mat-radio-button>
                        <mat-radio-button [value]="quickShareAuthorListTypes.Whitelist">White List</mat-radio-button>
                        <mat-radio-button [value]="quickShareAuthorListTypes.Blacklist">Black List</mat-radio-button>
                    </mat-radio-group>
                    <mat-form-field style="width:100%;">
                        <mat-label></mat-label>
                        <textarea matInput [(ngModel)]="quickShareAuthorList" name="txtQuickShareAuthorList" rows="5" [disabled]="quickShareAuthorListType == quickShareAuthorListTypes.Disabled" (change)="onQuickShareImportsChange()"></textarea>
                        <mat-hint>Characters List</mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div style="width: 50%; padding: 0 0 0 15px;">
                <h2 class="header-glow">Author Info</h2>
                <div>
                    <mat-form-field style="width: 100%;">
                        <mat-label>Author Name</mat-label>
                        <input matInput type="text" [(ngModel)]="author.name" />
                        <mat-hint>Enter whatever name you would like to have attached to any shared triggers.</mat-hint>
                    </mat-form-field>
                </div>
        
                <div>
                    <mat-form-field style="width: 100%;">
                        <mat-label>Discord</mat-label>
                        <input matInput type="text" [(ngModel)]="author.discord" />
                        <mat-hint>(Optional) Enter your discord name, or discord server.</mat-hint>
                    </mat-form-field>
                </div>

                <ng-template [ngIf]="author?.authorId != null" [ngIfElse]="noAuthorFile">
                    <button mat-button (click)="updateAuthor()">Save Changes</button>
                    <button mat-button *ngIf="!trustedAuthor" (click)="requestVerification()">Request Verification</button>
                </ng-template>
                <ng-template #noAuthorFile>
                    <button mat-button color="accent" (click)="createAuthor()">Create</button>
                </ng-template>
            </div>
        </div>
        <div style="display: flex; flex-direction: row;">
            <div style="width: 50%; padding: 30px 15px 0 0;">
                <h2 class="header-glow">Shared/Installed Trigger Permissions</h2>
                <div>
                    <div class="formless-hint full-width" style="margin-top: 5px; width: 100%;">
                        <div class="formless-input"><mat-checkbox [(ngModel)]="sharedTriggerPermissions.disableSharedGlowEffects" (change)="updateSetting( this.settingsKeys.sharedTriggerPermissions, this.sharedTriggerPermissions, 500 )">Disable Screen Glow</mat-checkbox></div>
                        <mat-hint>If enabled, any triggers that were created by another author will not execute glow actions.</mat-hint>
                    </div>
                </div>
                <div *ngIf="sharedTriggerPermissions.disableSharedGlowEffects">
                    <div class="formless-hint full-width" style="margin-top: 5px; width: 100%;">
                        <div class="formless-input"><mat-checkbox [(ngModel)]="sharedTriggerPermissions.disableAllGlowEffects" (change)="updateSetting( this.settingsKeys.sharedTriggerPermissions, this.sharedTriggerPermissions, 500 )">Disable All Screen Glow Actions</mat-checkbox></div>
                        <mat-hint>If enabled, any triggers created by others or yourself will not execute glow actions.</mat-hint>
                    </div>
                </div>
            </div>
        </div>

    </fieldset>

    <fieldset>
        <legend><span class="title">Import from GINA</span></legend>
        <button mat-button color="accent" (click)="openImportGinaDialog()" [disabled]="loadingGinaConfig">
            <span *ngIf="!loadingGinaConfig" style="display: flex; align-items: center; justify-content: center;"><mat-icon>input</mat-icon><span>&nbsp;Import</span></span>
            <span *ngIf="loadingGinaConfig"  style="display: flex; align-items: center; justify-content: center;"><mat-spinner [diameter]="20" color="accent"></mat-spinner><span>&nbsp;Loading ...</span></span>
        </button>
    </fieldset>

    <fieldset>
        <legend><span class="title">Phonetic Transforms</span><span class="spacer"></span><button mat-button (click)="addPhoneticTransform(phoneticTransformsTable)" color="accent"><mat-icon>add</mat-icon>New</button></legend>

        <table mat-table #phoneticTransformsTable="matTable" style="width: 100%;"
            [dataSource]="phoneticTransforms">

            <ng-container matColumnDef="original">
                <th mat-header-cell *matHeaderCellDef style="text-align: left;">Original</th>
                <td mat-cell *matCellDef="let element; let i = index" style="text-align: left;">

                    <mat-form-field style="width: 95%;margin-top: 10px;">
                        <mat-label></mat-label>
                        <input matInput [(ngModel)]="element.originalText" name="txtOriginalText_{{i}}" type="text" (change)="phoneticTransformsModified = true" />
                        <mat-hint>Original text</mat-hint>
                    </mat-form-field>

                </td>
            </ng-container>

            <ng-container matColumnDef="phonetic">
                <th mat-header-cell *matHeaderCellDef style="text-align: left;">Phonetic</th>
                <td mat-cell *matCellDef="let element; let i = index" style="text-align: left;">

                    <mat-form-field style="width: 95%;margin-top: 10px;">
                        <mat-label></mat-label>
                        <input matInput [(ngModel)]="element.phoneticText" name="txtPhoneticText_{{i}}" type="text" (change)="phoneticTransformsModified = true" />
                        <mat-hint>Phonetic text</mat-hint>
                    </mat-form-field>
                    
                </td>
            </ng-container>

            <ng-container matColumnDef="play">
                <th mat-header-cell *matHeaderCellDef style="text-align: center; width: 50px; padding-left: 15px;">  </th>
                <td mat-cell *matCellDef="let element; let i = index" style="text-align: center; width: 50px; padding-left: 15px;">
                    <button mat-icon-button aria-label="Delete this overlay" (click)="speakPhrase(element.phoneticText, undefined)">
                        <mat-icon>play_circle_outline</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef style="text-align: center; width: 50px; padding-left: 15px;">  </th>
                <td mat-cell *matCellDef="let element; let i = index" style="text-align: center; width: 50px; padding-left: 15px;">
                    <button mat-icon-button color="warn" aria-label="Delete this overlay" (click)="deletePhoneticTransform(i, phoneticTransformsTable)">
                        <mat-icon>clear</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['original', 'phonetic', 'play', 'delete']"></tr>
            <tr mat-row *matRowDef="let element; columns: ['original', 'phonetic', 'play', 'delete'];"></tr>

        </table>

        <button mat-button *ngIf="phoneticTransformsModified" (click)="savePhoneticTransforms()" color="accent">Save Changes</button>
        
    </fieldset>

    <fieldset>
        <legend><span class="title">Setup Wizard</span></legend>

        <table style="width: 100%;">
            <tr>
                <td style="width: 33%; padding: 5px;">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Default Detrimental Timer Overlay</mat-label>
                        <mat-select [(ngModel)]="detrimentalOverlayId" name="detrimentalOverlayId" (selectionChange)="saveDetrimentalOverlayId()">
                            <mat-option *ngFor="let overlay of timerOverlays" [value]="overlay.overlayId">{{overlay.name}}</mat-option>
                        </mat-select>
                        <mat-hint>The selected overlay will be the default overlay for detremental timers.</mat-hint>
                    </mat-form-field>
                </td>
                <td style="width: 33%; padding: 5px;">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Default Beneficial Timer Overlay</mat-label>
                        <mat-select [(ngModel)]="beneficialOverlayId" name="beneficialOverlayId" (selectionChange)="saveBeneficialOverlayId()">
                            <mat-option *ngFor="let overlay of timerOverlays" [value]="overlay.overlayId">{{overlay.name}}</mat-option>
                        </mat-select>
                        <mat-hint>The selected overlay will be the default overlay for beneficial timers.</mat-hint>
                    </mat-form-field>
                </td>
                <td style="width: 33%; padding: 5px;">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Default Text Overlay</mat-label>
                        <mat-select [(ngModel)]="alertOverlayId" name="alertOverlayId" (selectionChange)="saveAlertOverlayId()">
                            <mat-option *ngFor="let overlay of alertOverlays" [value]="overlay.overlayId">{{overlay.name}}</mat-option>
                        </mat-select>
                        <mat-hint>The selected overlay will be the default overlay for beneficial timers.</mat-hint>
                    </mat-form-field>
                </td>
            </tr>
        </table>






        <p>If you need to re-run the setup wizard, click on the "Run Setup Wizard" button.</p>

        <button mat-button (click)="runSetupWizard()">Run Setup Wizard</button>
    </fieldset>

    <fieldset>
        <legend><span class="title">Nag Diagnostics</span></legend>

        <button mat-button (click)="downloadLogFile()" class="color-green">Download Log File</button>
        <button mat-button (click)="downloadDataFiles()">Download Data Files</button>
        <button mat-button (click)="showDataFolder()" class="color-orange">Show Data Folder</button>
    </fieldset>

</div>
