div.tab-content {
    overflow-y: scroll;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 176px;

    > fieldset:not(:first-child) {
        margin-top: 50px;
    }
    fieldset {
        p {
            font-weight: 300;
            color: #eeeeee;
        }
        .card-property {
            margin-left: -12px;
            margin-right: -12px;
        }
    }
}

.header-glow {
    text-shadow: 0 0 7px #000000, 0 0 10px #000, 0 0 21px #000, 0 0 42px #000, 0 0 82px #000, 0 0 92px #020202, 0 0 102px #000, 0 0 151px #000;
}

h2 {
    &.header-glow {
        margin-top: -15px;
        font-size: 21px;
        font-weight: 300;
    }
    &.sub-header {
        font-weight: 100;
        opacity: 0.9;
        margin-top: -16px;
        padding-bottom: 6px;
        font-size: 22px;
        padding-bottom: 4px;
        position: relative;
        padding-right: 11px;
        text-align: right;

        &.half-width {
            width: calc(50% - 11px);
        }
        &.full-width {
            width: calc(100% - 11px);
        }

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 18px;
            z-index: -1;
            background-color: #0000002e;
        }
    }
}

h3 {
    &.sub-header {
        font-weight: 100;
    }
}

.daysOfWeekToggleGroup {
    margin-top: 7px;
    
    > mat-button-toggle { 
        width: 57px;
    }
}

.archiveTimeOfDay {
    width: 125px; 
    margin-left: 15px;
    float: right;
}